.character__header{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  margin: 0.5rem;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.character__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character__info-desc{
  margin: 1rem;
}

h1{
  margin: 1rem;
}