.content__wrapper{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}


.movieList__container{
  padding: 1rem;
 width: 50%;
 border: 1px solid white;
 border-radius: 10px;
 margin: 0.5rem;
}


.movieDetail__container{
  padding: 1rem;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    height: 80vh;
    overflow-x: scroll;
}

::-webkit-scrollbar{
  visibility: hidden;
}


@media screen and (max-width:850px) {
   .content__wrapper{
    flex-direction: column;
   }

   .movieList__container{
    width: 90%;
   }

   .movieDetail__container{
    width: 90%;
   }
}